@{
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>workholic - Job Portal Website </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    @*<link href="lib/animate/animate.min.css" rel="stylesheet">*@
    <link href="~/lib/animate/animate.css" rel="stylesheet" />
    <link href="~/lib/animate/animate.min.css" rel="stylesheet" />

@*    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    *@
    <link href="~/lib/owlcarousel/assets/owl.carousel.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
@*    <link href="css/bootstrap.min.css" rel="stylesheet">
*@    
<link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
@*    <link href="css/style.css" rel="stylesheet">
*@   
<link href="~/css/style.css" rel="stylesheet">
  
</head>

<body>


   

    <div class="container-xxl bg-white p-0">
        <!-- Carousel Start -->
        <div class="container-fluid p-0">
            <div class="owl-carousel header-carousel position-relative">
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="~/UploadedFiles/f.jpg" alt="" style="width:1366px; height: 550px;">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(183, 202, 209, 0.5);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-3 text-black animated slideInDown mb-4">Find The Perfect Work That You Deserves</h1>
                                    <p class="fs-5 fw-medium text-black mb-4 pb-2">Our website offers a wide range of job opportunities that cater to both educated and uneducated individuals, with options for daily, weekly, or monthly payment based on skill </p>
                                    <a href="C:\Project\job-portal-website-template\job-list.html" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Search A Job</a>
                                    <!--<a href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Find A Talent</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <!-- Category Start -->
       
            <!-- Category End -->
            <!-- About Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5 align-items-center">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="row g-0 about-bg rounded overflow-hidden">
                                <div class="col-6 text-start">
                                    <img class="img-fluid w-100" src="~/UploadedFiles/about-1.jpg">
                                </div>
                                <div class="col-6 text-start">
                                    <img class="img-fluid" src="~/UploadedFiles/about-2.jpg" style="width: 85%; margin-top: 15%;">
                                </div>
                                <div class="col-6 text-end">
                                    <img class="img-fluid" src="~/UploadedFiles/about-3.jpg" style="width: 85%;">
                                </div>
                                <div class="col-6 text-end">
                                    <img class="img-fluid w-100" src="~/UploadedFiles/about-4.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                            <h1 class="mb-4">We Help To Get The Best Job And Find A Talent</h1>
                            <p class="mb-4">"Welcome to Workholic, where we connect individuals with job opportunities based on their skills and availability. Whether you're looking for daily, weekly, or monthly work, we provide flexible employment options for both skilled and unskilled workers. Our mission is to empower people by offering accessible job opportunities that fit their needs. Join us today and start earning!"</p>
                            <p><i class="fa fa-check text-primary me-3"></i>Flexible Work Opportunities</p>
                            <p><i class="fa fa-check text-primary me-3"></i>Jobs available for both skilled and unskilled workers.</p>
                            <p><i class="fa fa-check text-primary me-3"></i>Connect, work, and get paid with ease</p>
                            <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->
       
         
        </div>
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>


</body>

</html>